body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fad7;
    color: black;
    margin: 0;
    padding: 0;
}

#topo {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 20px 0;
}

.titulo-principal {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.menu {
    font-weight: 600;
    text-align: center;
    background-color: #003366;
    color: white;
    border: double 10px;
}

a {
    color: #4098fc;
    text-decoration: underline;
}

a:hover {
    color: #00bcd4;
    text-decoration: none;
}

.texto-principal {
    font-style: italic;
    text-align: justify;
}

.foto-perfil {
    border: 3px solid #333;
    border-radius: 10px;
}

.figura-legenda {
    text-decoration: overline;
    font-size: 14px;
    color: #c7c6c6;
}

.titulos h1 {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: double 10px;
}

.titulos figure {  
    text-align: center;
    font-weight: 600;
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px;
    font-weight: 600;
}

